<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gangdian.qc.dao.QCEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.gangdian.qc.model.QCEmployee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="employeeNo" property="employeeno" jdbcType="INTEGER" />
    <result column="employeeName" property="employeename" jdbcType="NVARCHAR" />
    <result column="password" property="password" jdbcType="NVARCHAR" />
    <result column="sex" property="sex" jdbcType="NVARCHAR" />
    <result column="birthday" property="birthday" jdbcType="NVARCHAR" />
    <result column="identityNo" property="identityno" jdbcType="NVARCHAR" />
    <result column="address" property="address" jdbcType="NVARCHAR" />
    <result column="mobile" property="mobile" jdbcType="NVARCHAR" />
    <result column="QQ" property="qq" jdbcType="NVARCHAR" />
    <result column="Email" property="email" jdbcType="NVARCHAR" />
    <result column="positionId" property="positionid" jdbcType="INTEGER" />
    <result column="positionName" property="positionname" jdbcType="NVARCHAR" />
    <result column="photoSrc" property="photosrc" jdbcType="NVARCHAR" />
    <result column="positionStatus" property="positionstatus" jdbcType="NVARCHAR" />
    <result column="entryDate" property="entrydate" jdbcType="NVARCHAR" />
    <result column="leaveDate" property="leavedate" jdbcType="NVARCHAR" />
    <result column="isDel" property="isdel" jdbcType="NVARCHAR" />
    <result column="deptId" property="deptid" jdbcType="INTEGER" />
    <result column="company" property="company" jdbcType="NVARCHAR" />
    <result column="isLogin" property="islogin" jdbcType="NVARCHAR" />
    <result column="others" property="others" jdbcType="NVARCHAR" />
    <result column="leaveReason" property="leavereason" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, employeeNo, employeeName, password, sex, birthday, identityNo, address, mobile, 
    QQ, Email, positionId, positionName, photoSrc, positionStatus, entryDate, leaveDate, 
    isDel, deptId, company, isLogin, others, leaveReason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qc_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qc_employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gangdian.qc.model.QCEmployee" >
    insert into qc_employee (id, employeeNo, employeeName, 
      password, sex, birthday, 
      identityNo, address, mobile, 
      QQ, Email, positionId, 
      positionName, photoSrc, positionStatus, 
      entryDate, leaveDate, isDel, 
      deptId, company, isLogin, 
      others, leaveReason)
    values (#{id,jdbcType=INTEGER}, #{employeeno,jdbcType=INTEGER}, #{employeename,jdbcType=NVARCHAR}, 
      #{password,jdbcType=NVARCHAR}, #{sex,jdbcType=NVARCHAR}, #{birthday,jdbcType=NVARCHAR}, 
      #{identityno,jdbcType=NVARCHAR}, #{address,jdbcType=NVARCHAR}, #{mobile,jdbcType=NVARCHAR}, 
      #{qq,jdbcType=NVARCHAR}, #{email,jdbcType=NVARCHAR}, #{positionid,jdbcType=INTEGER}, 
      #{positionname,jdbcType=NVARCHAR}, #{photosrc,jdbcType=NVARCHAR}, #{positionstatus,jdbcType=NVARCHAR}, 
      #{entrydate,jdbcType=NVARCHAR}, #{leavedate,jdbcType=NVARCHAR}, #{isdel,jdbcType=NVARCHAR}, 
      #{deptid,jdbcType=INTEGER}, #{company,jdbcType=NVARCHAR}, #{islogin,jdbcType=NVARCHAR}, 
      #{others,jdbcType=NVARCHAR}, #{leavereason,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gangdian.qc.model.QCEmployee" >
    insert into qc_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="employeeno != null" >
        employeeNo,
      </if>
      <if test="employeename != null" >
        employeeName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="identityno != null" >
        identityNo,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="positionid != null" >
        positionId,
      </if>
      <if test="positionname != null" >
        positionName,
      </if>
      <if test="photosrc != null" >
        photoSrc,
      </if>
      <if test="positionstatus != null" >
        positionStatus,
      </if>
      <if test="entrydate != null" >
        entryDate,
      </if>
      <if test="leavedate != null" >
        leaveDate,
      </if>
      <if test="isdel != null" >
        isDel,
      </if>
      <if test="deptid != null" >
        deptId,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="islogin != null" >
        isLogin,
      </if>
      <if test="others != null" >
        others,
      </if>
      <if test="leavereason != null" >
        leaveReason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeno != null" >
        #{employeeno,jdbcType=INTEGER},
      </if>
      <if test="employeename != null" >
        #{employeename,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=NVARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=NVARCHAR},
      </if>
      <if test="identityno != null" >
        #{identityno,jdbcType=NVARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=NVARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=NVARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="positionid != null" >
        #{positionid,jdbcType=INTEGER},
      </if>
      <if test="positionname != null" >
        #{positionname,jdbcType=NVARCHAR},
      </if>
      <if test="photosrc != null" >
        #{photosrc,jdbcType=NVARCHAR},
      </if>
      <if test="positionstatus != null" >
        #{positionstatus,jdbcType=NVARCHAR},
      </if>
      <if test="entrydate != null" >
        #{entrydate,jdbcType=NVARCHAR},
      </if>
      <if test="leavedate != null" >
        #{leavedate,jdbcType=NVARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=NVARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        #{company,jdbcType=NVARCHAR},
      </if>
      <if test="islogin != null" >
        #{islogin,jdbcType=NVARCHAR},
      </if>
      <if test="others != null" >
        #{others,jdbcType=NVARCHAR},
      </if>
      <if test="leavereason != null" >
        #{leavereason,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangdian.qc.model.QCEmployee" >
    update qc_employee
    <set >
      <if test="employeeno != null" >
        employeeNo = #{employeeno,jdbcType=INTEGER},
      </if>
      <if test="employeename != null" >
        employeeName = #{employeename,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=NVARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=NVARCHAR},
      </if>
      <if test="identityno != null" >
        identityNo = #{identityno,jdbcType=NVARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=NVARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=NVARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=NVARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="positionid != null" >
        positionId = #{positionid,jdbcType=INTEGER},
      </if>
      <if test="positionname != null" >
        positionName = #{positionname,jdbcType=NVARCHAR},
      </if>
      <if test="photosrc != null" >
        photoSrc = #{photosrc,jdbcType=NVARCHAR},
      </if>
      <if test="positionstatus != null" >
        positionStatus = #{positionstatus,jdbcType=NVARCHAR},
      </if>
      <if test="entrydate != null" >
        entryDate = #{entrydate,jdbcType=NVARCHAR},
      </if>
      <if test="leavedate != null" >
        leaveDate = #{leavedate,jdbcType=NVARCHAR},
      </if>
      <if test="isdel != null" >
        isDel = #{isdel,jdbcType=NVARCHAR},
      </if>
      <if test="deptid != null" >
        deptId = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=NVARCHAR},
      </if>
      <if test="islogin != null" >
        isLogin = #{islogin,jdbcType=NVARCHAR},
      </if>
      <if test="others != null" >
        others = #{others,jdbcType=NVARCHAR},
      </if>
      <if test="leavereason != null" >
        leaveReason = #{leavereason,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangdian.qc.model.QCEmployee" >
    update qc_employee
    set employeeNo = #{employeeno,jdbcType=INTEGER},
      employeeName = #{employeename,jdbcType=NVARCHAR},
      password = #{password,jdbcType=NVARCHAR},
      sex = #{sex,jdbcType=NVARCHAR},
      birthday = #{birthday,jdbcType=NVARCHAR},
      identityNo = #{identityno,jdbcType=NVARCHAR},
      address = #{address,jdbcType=NVARCHAR},
      mobile = #{mobile,jdbcType=NVARCHAR},
      QQ = #{qq,jdbcType=NVARCHAR},
      Email = #{email,jdbcType=NVARCHAR},
      positionId = #{positionid,jdbcType=INTEGER},
      positionName = #{positionname,jdbcType=NVARCHAR},
      photoSrc = #{photosrc,jdbcType=NVARCHAR},
      positionStatus = #{positionstatus,jdbcType=NVARCHAR},
      entryDate = #{entrydate,jdbcType=NVARCHAR},
      leaveDate = #{leavedate,jdbcType=NVARCHAR},
      isDel = #{isdel,jdbcType=NVARCHAR},
      deptId = #{deptid,jdbcType=INTEGER},
      company = #{company,jdbcType=NVARCHAR},
      isLogin = #{islogin,jdbcType=NVARCHAR},
      others = #{others,jdbcType=NVARCHAR},
      leaveReason = #{leavereason,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllEmployee" resultMap="BaseResultMap">
      select * from qc_employee
  </select>
  <select id="getEmployeePageList" resultMap="BaseResultMap">
select * from 
(select ROW_NUMBER() over (order by 
<if test="sort != null and sort != '' and order != null and order != ''">${sort} ${order},</if>
id) as RowNum,* from qc_employee where 1=1
<if test="record != null ">
  <if test="record.id !=null">and id = #{record.id,jdbcType=INTEGER}</if>
  <if test="record.employeeno !=null">and employeeNo = #{record.employeeno,jdbcType=INTEGER}</if>
  <if test="record.employeename !=null and record.employeename !=''">and employeeName = #{record.employeename,jdbcType=NVARCHAR}</if>
  <if test="record.password !=null and record.password !=''">and password = #{record.password,jdbcType=NVARCHAR}</if>
  <if test="record.sex !=null and record.sex !=''">and sex = #{record.sex,jdbcType=NVARCHAR}</if>
  <if test="record.birthday !=null and record.birthday !=''">and birthday = #{record.birthday,jdbcType=NVARCHAR}</if>
  <if test="record.identityno !=null and record.identityno!=''">and identityNo = #{record.identityno,jdbcType=NVARCHAR}</if>
  <if test="record.address !=null and record.address!=''">and address = #{record.address,jdbcType=NVARCHAR}</if>
  <if test="record.mobile !=null and record.mobile!=''">and mobile = #{record.mobile,jdbcType=NVARCHAR}</if>
  <if test="record.qq !=null and record.qq!=''">and QQ = #{record.qq,jdbcType=NVARCHAR}</if>
  <if test="record.email !=null and record.email !=''">and Email = #{record.email,jdbcType=NVARCHAR}</if>
  <if test="record.positionid !=null">and positionId = #{record.positionid,jdbcType=INTEGER}</if>
  <if test="record.positionname !=null and record.positionname!=''">and positionName = #{record.positionname,jdbcType=NVARCHAR}</if>
  <if test="record.photosrc !=null and record.photosrc!=''">and photoSrc = #{record.photosrc,jdbcType=NVARCHAR}</if>
  <if test="record.positionstatus !=null and record.positionstatus!=''">and positionStatus = #{record.positionstatus,jdbcType=NVARCHAR}</if>
  <if test="record.entrydate !=null and record.entrydate!=''">and entryDate = #{record.entrydate,jdbcType=NVARCHAR}</if>
  <if test="record.leavedate !=null and record.leavedate!=''">and leaveDate = #{record.leavedate,jdbcType=NVARCHAR}</if>
  <if test="record.isdel !=null and record.isdel!=''">and isDel = #{record.isdel,jdbcType=NVARCHAR}</if>
  <if test="record.deptid !=null">and deptId = #{record.deptid,jdbcType=INTEGER}</if>
  <if test="record.company !=null and record.company!=''">and company = #{record.company,jdbcType=NVARCHAR}</if>
  <if test="record.islogin !=null and record.islogin!=''">and isLogin = #{record.islogin,jdbcType=NVARCHAR}</if>
  <if test="record.others !=null and record.others!=''">and others = #{record.others,jdbcType=NVARCHAR}</if>
  <if test="record.leavereason !=null and record.leavereason!=''">and leaveReason = #{record.leavereason,jdbcType=NVARCHAR}</if>
</if>
) as temp
<if test="rows != null and page != null">
where RowNum between (#{page,jdbcType=INTEGER}-1)*#{rows,jdbcType=INTEGER}+1 and #{page,jdbcType=INTEGER}*#{rows,jdbcType=INTEGER}
</if>
  </select>
  <select id="getConditionEmployee" parameterType="com.gangdian.qc.model.QCEmployee" resultMap="BaseResultMap">
  select * from qc_employee where 1=1
  <if test="id !=null">and id = #{id,jdbcType=INTEGER}</if>
  <if test="employeeno !=null">and employeeNo = #{employeeno,jdbcType=INTEGER}</if>
  <if test="employeename !=null and employeename !=''">and employeeName = #{employeename,jdbcType=NVARCHAR}</if>
  <if test="password !=null and password !=''">and password = #{password,jdbcType=NVARCHAR}</if>
  <if test="sex !=null and sex !=''">and sex = #{sex,jdbcType=NVARCHAR}</if>
  <if test="birthday !=null and birthday !=''">and birthday = #{birthday,jdbcType=NVARCHAR}</if>
  <if test="identityno !=null and identityno!=''">and identityNo = #{identityno,jdbcType=NVARCHAR}</if>
  <if test="address !=null and address!=''">and address = #{address,jdbcType=NVARCHAR}</if>
  <if test="mobile !=null and mobile!=''">and mobile = #{mobile,jdbcType=NVARCHAR}</if>
  <if test="qq !=null and qq!=''">and QQ = #{qq,jdbcType=NVARCHAR}</if>
  <if test="email !=null and email !=''">and Email = #{email,jdbcType=NVARCHAR}</if>
  <if test="positionid !=null">and positionId = #{positionid,jdbcType=INTEGER}</if>
  <if test="positionname !=null and positionname!=''">and positionName = #{positionname,jdbcType=NVARCHAR}</if>
  <if test="photosrc !=null and photosrc!=''">and photoSrc = #{photosrc,jdbcType=NVARCHAR}</if>
  <if test="positionstatus !=null and positionstatus!=''">and positionStatus = #{positionstatus,jdbcType=NVARCHAR}</if>
  <if test="entrydate !=null and entrydate!=''">and entryDate = #{entrydate,jdbcType=NVARCHAR}</if>
  <if test="leavedate !=null and leavedate!=''">and leaveDate = #{leavedate,jdbcType=NVARCHAR}</if>
  <if test="isdel !=null and isdel!=''">and isDel = #{isdel,jdbcType=NVARCHAR}</if>
  <if test="deptid !=null">and deptId = #{deptid,jdbcType=INTEGER}</if>
  <if test="company !=null and company!=''">and company = #{company,jdbcType=NVARCHAR}</if>
  <if test="islogin !=null and islogin!=''">and isLogin = #{islogin,jdbcType=NVARCHAR}</if>
  <if test="others !=null and others!=''">and others = #{others,jdbcType=NVARCHAR}</if>
  <if test="leavereason !=null and leavereason!=''">and leaveReason = #{leavereason,jdbcType=NVARCHAR}</if>
  </select>
</mapper>