<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gangdian.qc.dao.QCWorktimeMapper" >
  <resultMap id="BaseResultMap" type="com.gangdian.qc.model.QCWorktime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="belongid" property="belongid" jdbcType="INTEGER" />
    <result column="S1" property="s1" jdbcType="INTEGER" />
    <result column="S2" property="s2" jdbcType="INTEGER" />
    <result column="S3" property="s3" jdbcType="INTEGER" />
    <result column="S4" property="s4" jdbcType="INTEGER" />
    <result column="S5" property="s5" jdbcType="INTEGER" />
    <result column="S6" property="s6" jdbcType="INTEGER" />
    <result column="S7" property="s7" jdbcType="INTEGER" />
    <result column="S8" property="s8" jdbcType="INTEGER" />
    <result column="S9" property="s9" jdbcType="INTEGER" />
    <result column="S10" property="s10" jdbcType="INTEGER" />
    <result column="S11" property="s11" jdbcType="INTEGER" />
    <result column="E1" property="e1" jdbcType="INTEGER" />
    <result column="E2" property="e2" jdbcType="INTEGER" />
    <result column="E3" property="e3" jdbcType="INTEGER" />
    <result column="E4" property="e4" jdbcType="INTEGER" />
    <result column="E5" property="e5" jdbcType="INTEGER" />
    <result column="E6" property="e6" jdbcType="INTEGER" />
    <result column="E7" property="e7" jdbcType="INTEGER" />
    <result column="E8" property="e8" jdbcType="INTEGER" />
    <result column="E9" property="e9" jdbcType="INTEGER" />
    <result column="E10" property="e10" jdbcType="INTEGER" />
    <result column="E11" property="e11" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupid, belongid, S1, S2, S3, S4, S5, S6, S7, S8, S9, S10, S11, E1, E2, E3, 
    E4, E5, E6, E7, E8, E9, E10, E11
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qc_worktime
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qc_worktime
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gangdian.qc.model.QCWorktime" >
    insert into qc_worktime (id, groupid, belongid, 
      S1, S2, S3, S4, 
      S5, S6, S7, S8, 
      S9, S10, S11, E1, 
      E2, E3, E4, E5, 
      E6, E7, E8, E9, 
      E10, E11)
    values (#{id,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{belongid,jdbcType=INTEGER}, 
      #{s1,jdbcType=INTEGER}, #{s2,jdbcType=INTEGER}, #{s3,jdbcType=INTEGER}, #{s4,jdbcType=INTEGER}, 
      #{s5,jdbcType=INTEGER}, #{s6,jdbcType=INTEGER}, #{s7,jdbcType=INTEGER}, #{s8,jdbcType=INTEGER}, 
      #{s9,jdbcType=INTEGER}, #{s10,jdbcType=INTEGER}, #{s11,jdbcType=INTEGER}, #{e1,jdbcType=INTEGER}, 
      #{e2,jdbcType=INTEGER}, #{e3,jdbcType=INTEGER}, #{e4,jdbcType=INTEGER}, #{e5,jdbcType=INTEGER}, 
      #{e6,jdbcType=INTEGER}, #{e7,jdbcType=INTEGER}, #{e8,jdbcType=INTEGER}, #{e9,jdbcType=INTEGER}, 
      #{e10,jdbcType=INTEGER}, #{e11,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gangdian.qc.model.QCWorktime" >
    insert into qc_worktime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="belongid != null" >
        belongid,
      </if>
      <if test="s1 != null" >
        S1,
      </if>
      <if test="s2 != null" >
        S2,
      </if>
      <if test="s3 != null" >
        S3,
      </if>
      <if test="s4 != null" >
        S4,
      </if>
      <if test="s5 != null" >
        S5,
      </if>
      <if test="s6 != null" >
        S6,
      </if>
      <if test="s7 != null" >
        S7,
      </if>
      <if test="s8 != null" >
        S8,
      </if>
      <if test="s9 != null" >
        S9,
      </if>
      <if test="s10 != null" >
        S10,
      </if>
      <if test="s11 != null" >
        S11,
      </if>
      <if test="e1 != null" >
        E1,
      </if>
      <if test="e2 != null" >
        E2,
      </if>
      <if test="e3 != null" >
        E3,
      </if>
      <if test="e4 != null" >
        E4,
      </if>
      <if test="e5 != null" >
        E5,
      </if>
      <if test="e6 != null" >
        E6,
      </if>
      <if test="e7 != null" >
        E7,
      </if>
      <if test="e8 != null" >
        E8,
      </if>
      <if test="e9 != null" >
        E9,
      </if>
      <if test="e10 != null" >
        E10,
      </if>
      <if test="e11 != null" >
        E11,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="belongid != null" >
        #{belongid,jdbcType=INTEGER},
      </if>
      <if test="s1 != null" >
        #{s1,jdbcType=INTEGER},
      </if>
      <if test="s2 != null" >
        #{s2,jdbcType=INTEGER},
      </if>
      <if test="s3 != null" >
        #{s3,jdbcType=INTEGER},
      </if>
      <if test="s4 != null" >
        #{s4,jdbcType=INTEGER},
      </if>
      <if test="s5 != null" >
        #{s5,jdbcType=INTEGER},
      </if>
      <if test="s6 != null" >
        #{s6,jdbcType=INTEGER},
      </if>
      <if test="s7 != null" >
        #{s7,jdbcType=INTEGER},
      </if>
      <if test="s8 != null" >
        #{s8,jdbcType=INTEGER},
      </if>
      <if test="s9 != null" >
        #{s9,jdbcType=INTEGER},
      </if>
      <if test="s10 != null" >
        #{s10,jdbcType=INTEGER},
      </if>
      <if test="s11 != null" >
        #{s11,jdbcType=INTEGER},
      </if>
      <if test="e1 != null" >
        #{e1,jdbcType=INTEGER},
      </if>
      <if test="e2 != null" >
        #{e2,jdbcType=INTEGER},
      </if>
      <if test="e3 != null" >
        #{e3,jdbcType=INTEGER},
      </if>
      <if test="e4 != null" >
        #{e4,jdbcType=INTEGER},
      </if>
      <if test="e5 != null" >
        #{e5,jdbcType=INTEGER},
      </if>
      <if test="e6 != null" >
        #{e6,jdbcType=INTEGER},
      </if>
      <if test="e7 != null" >
        #{e7,jdbcType=INTEGER},
      </if>
      <if test="e8 != null" >
        #{e8,jdbcType=INTEGER},
      </if>
      <if test="e9 != null" >
        #{e9,jdbcType=INTEGER},
      </if>
      <if test="e10 != null" >
        #{e10,jdbcType=INTEGER},
      </if>
      <if test="e11 != null" >
        #{e11,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangdian.qc.model.QCWorktime" >
    update qc_worktime
    <set >
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="belongid != null" >
        belongid = #{belongid,jdbcType=INTEGER},
      </if>
      <if test="s1 != null" >
        S1 = #{s1,jdbcType=INTEGER},
      </if>
      <if test="s2 != null" >
        S2 = #{s2,jdbcType=INTEGER},
      </if>
      <if test="s3 != null" >
        S3 = #{s3,jdbcType=INTEGER},
      </if>
      <if test="s4 != null" >
        S4 = #{s4,jdbcType=INTEGER},
      </if>
      <if test="s5 != null" >
        S5 = #{s5,jdbcType=INTEGER},
      </if>
      <if test="s6 != null" >
        S6 = #{s6,jdbcType=INTEGER},
      </if>
      <if test="s7 != null" >
        S7 = #{s7,jdbcType=INTEGER},
      </if>
      <if test="s8 != null" >
        S8 = #{s8,jdbcType=INTEGER},
      </if>
      <if test="s9 != null" >
        S9 = #{s9,jdbcType=INTEGER},
      </if>
      <if test="s10 != null" >
        S10 = #{s10,jdbcType=INTEGER},
      </if>
      <if test="s11 != null" >
        S11 = #{s11,jdbcType=INTEGER},
      </if>
      <if test="e1 != null" >
        E1 = #{e1,jdbcType=INTEGER},
      </if>
      <if test="e2 != null" >
        E2 = #{e2,jdbcType=INTEGER},
      </if>
      <if test="e3 != null" >
        E3 = #{e3,jdbcType=INTEGER},
      </if>
      <if test="e4 != null" >
        E4 = #{e4,jdbcType=INTEGER},
      </if>
      <if test="e5 != null" >
        E5 = #{e5,jdbcType=INTEGER},
      </if>
      <if test="e6 != null" >
        E6 = #{e6,jdbcType=INTEGER},
      </if>
      <if test="e7 != null" >
        E7 = #{e7,jdbcType=INTEGER},
      </if>
      <if test="e8 != null" >
        E8 = #{e8,jdbcType=INTEGER},
      </if>
      <if test="e9 != null" >
        E9 = #{e9,jdbcType=INTEGER},
      </if>
      <if test="e10 != null" >
        E10 = #{e10,jdbcType=INTEGER},
      </if>
      <if test="e11 != null" >
        E11 = #{e11,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangdian.qc.model.QCWorktime" >
    update qc_worktime
    set groupid = #{groupid,jdbcType=INTEGER},
      belongid = #{belongid,jdbcType=INTEGER},
      S1 = #{s1,jdbcType=INTEGER},
      S2 = #{s2,jdbcType=INTEGER},
      S3 = #{s3,jdbcType=INTEGER},
      S4 = #{s4,jdbcType=INTEGER},
      S5 = #{s5,jdbcType=INTEGER},
      S6 = #{s6,jdbcType=INTEGER},
      S7 = #{s7,jdbcType=INTEGER},
      S8 = #{s8,jdbcType=INTEGER},
      S9 = #{s9,jdbcType=INTEGER},
      S10 = #{s10,jdbcType=INTEGER},
      S11 = #{s11,jdbcType=INTEGER},
      E1 = #{e1,jdbcType=INTEGER},
      E2 = #{e2,jdbcType=INTEGER},
      E3 = #{e3,jdbcType=INTEGER},
      E4 = #{e4,jdbcType=INTEGER},
      E5 = #{e5,jdbcType=INTEGER},
      E6 = #{e6,jdbcType=INTEGER},
      E7 = #{e7,jdbcType=INTEGER},
      E8 = #{e8,jdbcType=INTEGER},
      E9 = #{e9,jdbcType=INTEGER},
      E10 = #{e10,jdbcType=INTEGER},
      E11 = #{e11,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
<select id="getQCWTPageList" resultType="java.util.HashMap">
select * from
(select ROW_NUMBER() over (order by
<if test="sort != null and sort != '' and order != null and order != ''">${sort} ${order},</if>
wt.id) as RowNum,
wt.*,dept.name groupname,dept2.name belongname 
from qc_worktime wt left join department dept on wt.groupid=dept.id
left join department dept2 on wt.belongid=dept2.id
where 1=1 
<if test="groupname!=null and groupname!=''">and dept.name=#{groupname,jdbcType=NVARCHAR}</if>
<if test="belongname!=null and belongname!=''">and dept2.name = #{belongname,jdbcType=NVARCHAR}</if>
)as temp
<if test="rows != null and page != null">
where RowNum between (#{page,jdbcType=INTEGER}-1)*#{rows,jdbcType=INTEGER}+1 and #{page,jdbcType=INTEGER}*#{rows,jdbcType=INTEGER}
</if>
</select>

  <select id="checkGroupid" resultType="java.lang.Integer" >
      select count(*) from qc_worktime wt left join department dept on wt.groupid=dept.id 
     where dept.name= #{groupname,jdbcType=NVARCHAR}

  </select>
</mapper>