<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangdian.qc.dao.User2RoleDao">
  <resultMap id="BaseResultMap" type="com.gangdian.qc.model.User2Role">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <resultMap id="getRole" type="com.gangdian.qc.model.User2Role">
    <result column="ur_id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="NVARCHAR" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <association property="role" column="id" javaType="QCRole" >
		  <result column="r_id" property="id" jdbcType="INTEGER" />
   		  <result column="name" property="name" jdbcType="NVARCHAR" />
	</association>
    
  </resultMap>
  
  <!-- 根据用户id删除对应的角色 -->
    <delete id="deleteByUserId" parameterType="String" >
    	delete from User_Role
   		 where user_id=#{userId}
 	 </delete>
  <!-- 根据用户id获取用户角色名称 -->
    <select id="getRoleByid" resultMap="getRole" parameterType="String">
		select r.id r_id,name,ur.id ur_id
		from User_Role ur 
		left join qc_role r   on r.id=role_id 
		where ur.user_id=#{userId}
		group by r.id ,name,ur.id 
	</select>
  <insert id="insert" parameterType="com.gangdian.qc.model.User2Role">
    insert into user_role (id, user_id, role_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=NVARCHAR}, #{roleId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gangdian.qc.model.User2Role">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=NVARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
 
</mapper>