<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gangdian.qc.dao.QCProgressDao" >
  <resultMap id="BaseResultMap" type="com.gangdian.qc.model.QCProgress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="progress_name" property="progressName" jdbcType="NVARCHAR" />
    <result column="progress_code" property="progressCode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, progress_name, progress_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qc_progress
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qc_progress
    where progress_code = #{progressCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qc_progress
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gangdian.qc.model.QCProgress" >
    insert into qc_progress (id, progress_name, progress_code
      )
    values (#{id,jdbcType=INTEGER}, #{progressName,jdbcType=NVARCHAR}, #{progressCode,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gangdian.qc.model.QCProgress" >
    insert into qc_progress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="progressName != null" >
        progress_name,
      </if>
      <if test="progressCode != null" >
        progress_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="progressName != null" >
        #{progressName,jdbcType=NVARCHAR},
      </if>
      <if test="progressCode != null" >
        #{progressCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangdian.qc.model.QCProgress" >
    update qc_progress
    <set >
      <if test="progressName != null" >
        progress_name = #{progressName,jdbcType=NVARCHAR},
      </if>
      <if test="progressCode != null" >
        progress_code = #{progressCode,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangdian.qc.model.QCProgress" >
    update qc_progress
    set progress_name = #{progressName,jdbcType=NVARCHAR},
      progress_code = #{progressCode,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAllProgress" resultMap="BaseResultMap">
       select * from qc_progress
  </select>
  <select id="getProgressPageSize" parameterType="com.gangdian.qc.model.QCProgress"
  resultMap="BaseResultMap">
       select * from qc_progress where 1=1
       <if test="id != null" > and id=#{id,jdbcType=INTEGER}</if>
       <if test="progressName != null" > and progress_name = #{progressName,jdbcType=NVARCHAR}</if>
       <if test="progressCode != null" > and progress_code = #{progressCode,jdbcType=INTEGER}</if>
  </select>
  <select id="getProgressPageList" resultMap="BaseResultMap">
       select * from
       (select ROW_NUMBER() over (order by 
       <if test="sort != null and sort != '' and order != null and order != ''">${sort} ${order},</if>
       id) as RowNum,* from qc_progress where 1=1
       <if test="record != null "> 
        <if test="record.id != null"> and  id=#{record.id,jdbcType=INTEGER}</if>
        <if test="record.progressName != null and record.progressName !=''" > and progress_name = #{record.progressName,jdbcType=NVARCHAR}</if>
        <if test="record.progressCode != null and record.progressCode !=''" > and progress_code = #{record.progressCode,jdbcType=INTEGER}</if>
        </if>
       ) as temp
       <if test="rows != null and page != null">
       where RowNum between (#{page,jdbcType=INTEGER}-1)*#{rows,jdbcType=INTEGER}+1 and #{page,jdbcType=INTEGER}*#{rows,jdbcType=INTEGER}
       </if>
  </select>
  <select id="checkProgress" parameterType="com.gangdian.qc.model.QCProgress"
  resultMap="BaseResultMap">
       select * from qc_progress where 1=1
       <if test="id != null" > and id=#{id,jdbcType=INTEGER}</if>
       <if test="progressName != null" > and progress_name = #{progressName,jdbcType=NVARCHAR}</if>
       <if test="progressCode != null" > and progress_code = #{progressCode,jdbcType=INTEGER}</if>
  </select>
</mapper>