<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gangdian.qc.dao.QCProgressManHourDao" >
  <resultMap id="BaseResultMap" type="com.gangdian.qc.model.QCProgressManHour" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="NVARCHAR" />
    <result column="progressid" property="progressid" jdbcType="INTEGER" />
    <result column="man_minute" property="manMinute" jdbcType="INTEGER" />
    <result column="man_hour" property="manHour" jdbcType="NUMERIC" />
    <result column="balance" property="balance" jdbcType="NUMERIC" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="progressAndProduct" type="com.gangdian.qc.model.QCProgressManHour" >
    <id column="pp_id" property="id" jdbcType="INTEGER" />
    <result column="pp_model" property="model" jdbcType="NVARCHAR" />
    <result column="progressid" property="progressid" jdbcType="INTEGER" />
    <result column="man_minute" property="manMinute" jdbcType="INTEGER" />
    <result column="man_hour" property="manHour" jdbcType="NUMERIC" />
    <result column="balance" property="balance" jdbcType="NUMERIC" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <association property="productRecord" column="model" javaType="com.gangdian.qc.model.QCProductRecord" >
		<id column="p_id" property="id" jdbcType="INTEGER" />
	    <result column="p_model" property="model" jdbcType="NVARCHAR" />
	    <result column="product_specific" property="productSpecific" jdbcType="NVARCHAR" />
	</association>
	<association property="progress" column="id" javaType="com.gangdian.qc.model.QCProgress">
	    <id column="pg_id" property="id" jdbcType="INTEGER"/>
	    <result column="pg_code" property="progressCode" jdbcType="NVARCHAR"/>
	    <result column="pg_name" property="progressName" jdbcType="NVARCHAR"/>
	</association>
  </resultMap>
  
  
  <resultMap id="progressAndProduct2" type="com.gangdian.qc.model.QCProgressManHour" >
    <id column="pp_id" property="id" jdbcType="INTEGER" />
    <result column="pp_model" property="model" jdbcType="NVARCHAR" />
    <result column="progressid" property="progressid" jdbcType="INTEGER" />
    <result column="man_minute" property="manMinute" jdbcType="INTEGER" />
    <result column="man_hour" property="manHour" jdbcType="NUMERIC" />
    <result column="balance" property="balance" jdbcType="NUMERIC" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
	<association property="progress" column="id" javaType="com.gangdian.qc.model.QCProgress">
	    <id column="pg_id" property="id" jdbcType="INTEGER"/>
	    <result column="pg_code" property="progressCode" jdbcType="NVARCHAR"/>
	    <result column="pg_name" property="progressName" jdbcType="NVARCHAR"/>
	</association>
  </resultMap>


  <sql id="Base_Column_List" >
    id, model, progressid, man_minute, man_hour, balance,product_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qc_progress_man_hour
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qc_progress_man_hour
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gangdian.qc.model.QCProgressManHour" >
    insert into qc_progress_man_hour (id, model, progressid, 
      man_minute, man_hour, balance,product_id
      )
    values (#{id,jdbcType=INTEGER}, #{model,jdbcType=NVARCHAR}, #{progressid,jdbcType=INTEGER}, 
      #{manMinute,jdbcType=INTEGER}, #{manHour,jdbcType=NUMERIC}, #{balance,jdbcType=NUMERIC},
      #{productId,jdbcType=INTEGER},
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gangdian.qc.model.QCProgressManHour" >
    insert into qc_progress_man_hour
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="progressid != null" >
        progressid,
      </if>
      <if test="manMinute != null" >
        man_minute,
      </if>
      <if test="manHour != null" >
        man_hour,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=NVARCHAR},
      </if>
      <if test="progressid != null" >
        #{progressid,jdbcType=INTEGER},
      </if>
      <if test="manMinute != null" >
        #{manMinute,jdbcType=INTEGER},
      </if>
      <if test="manHour != null" >
        #{manHour,jdbcType=NUMERIC},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=NUMERIC},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangdian.qc.model.QCProgressManHour" >
    update qc_progress_man_hour
    <set >
      <if test="model != null" >
        model = #{model,jdbcType=NVARCHAR},
      </if>
      <if test="progressid != null" >
        progressid = #{progressid,jdbcType=INTEGER},
      </if>
      <if test="manMinute != null" >
        man_minute = #{manMinute,jdbcType=INTEGER},
      </if>
      <if test="manHour != null" >
        man_hour = #{manHour,jdbcType=NUMERIC},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=NUMERIC},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangdian.qc.model.QCProgressManHour" >
    update qc_progress_man_hour
    set model = #{model,jdbcType=NVARCHAR},
      progressid = #{progressid,jdbcType=INTEGER},
      man_minute = #{manMinute,jdbcType=INTEGER},
      man_hour = #{manHour,jdbcType=NUMERIC},
      balance = #{balance,jdbcType=NUMERIC},
      where product_id = #{productId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOther" resultMap="BaseResultMap" parameterType="com.gangdian.qc.model.QCProgressManHour" >
    select 
    <include refid="Base_Column_List" />
    from qc_progress_man_hour
    where 1=1 
     <if test="model != null" >
   	 and  model = #{model,jdbcType=NVARCHAR}
   	 </if>
     <if test="progressid != null" >
      and  progressid = #{progressid,jdbcType=INTEGER}
      </if>
      <if test="manMinute != null" >
      and  man_minute = #{manMinute,jdbcType=INTEGER}
      </if>
      <if test="manHour != null" >
       and  man_hour = #{manHour,jdbcType=NUMERIC}
      </if>
      <if test="balance != null" >
      and  balance=  #{balance,jdbcType=NUMERIC}
      </if>
      <if test="productId != null" >
      and  product_id=  #{productId,jdbcType=NUMERIC}
      </if>
  </select>
  
   <select id="getProHourPageSize" parameterType="com.gangdian.qc.model.QCProgressManHour" 
  resultType="int">
        select count(*) from qc_progress_man_hour where 1=1
        <if test="model != null" > and model  like '%'+#{model,jdbcType=NVARCHAR}+'%'</if>
        <if test="progressid != null and progressid !=''" > and progressid =#{progressid,jdbcType=INTEGER}</if>
        <if test="manMinute != null and manMinute !=''" > and man_minute=#{manMinute,jdbcType=INTEGER}</if>
        <if test="manHour != null and manHour !=''" > and man_hour=#{manHour,jdbcType=NUMERIC}</if>
        <if test="balance != null and balance !=''" >and balance = #{balance,jdbcType=NUMERIC}</if>
  </select>
  <select id="getProHourPageList" resultMap="progressAndProduct">
        select * from
        (select ROW_NUMBER() over (order by
        <if test="sort != null and sort != '' and order != null and order != ''">${sort} ${order},</if> 
        pp.id) as RowNum,
         p.id p_id,p.model p_model,pp.id pp_id,pp.model pp_model,progressid,
         product_specific,man_minute,man_hour,balance,pg.id pg_id,pg.progress_code pg_code,pg.progress_name pg_name 
         from qc_progress_man_hour pp left join qc_product_record p on p.model=pp.model 
         left join qc_progress pg on pp.progressid=pg.id
         where 1=1
        <if test="record != null "> 
        <if test="record.model != null" > and pp.model like '%'+#{record.model,jdbcType=NVARCHAR}+'%'</if>
        <if test="record.progressid != null and record.progressid !=''" > and progressid =#{record.progressid,jdbcType=INTEGER}</if>
        <if test="record.manMinute != null and record.manMinute !=''" > and man_minute=#{record.manMinute,jdbcType=INTEGER}</if>
        <if test="record.manHour != null and record.manHour !=''" > and man_hour =#{record.manHour,jdbcType=NUMERIC}</if>
        <if test="record.balance != null and record.balance !=''" >and balance =#{record.balance,jdbcType=NUMERIC}</if>
 </if>
        ) as temp
        <if test="rows != null and page != null">
        where RowNum between (#{page,jdbcType=INTEGER}-1)*#{rows,jdbcType=INTEGER}+1 and #{page,jdbcType=INTEGER}*#{rows,jdbcType=INTEGER}
        </if>
  </select>
</mapper>