<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  <setting name="logImpl" value="STDOUT_LOGGING"/> </settings>
	
	<typeAliases>
			<typeAlias alias="QCUser" type="com.gangdian.qc.model.QCUser"/> 
			<typeAlias alias="QCGroup" type="com.gangdian.qc.model.QCGroup"/> 
			<typeAlias alias="QCRole" type="com.gangdian.qc.model.QCRole"/> 
			<typeAlias alias="User2Role" type="com.gangdian.qc.model.User2Role"/> 
			<typeAlias alias="QCPermission" type="com.gangdian.qc.model.QCPermission"/> 
			<typeAlias alias="QCFailDetail" type="com.gangdian.qc.model.QCFailDetail"/> 
			<typeAlias alias="QCCheckRecord" type="com.gangdian.qc.model.QCCheckRecord"/> 
			<typeAlias alias="ProductMain" type="com.gangdian.qc.model.ProductMain"/> 
			<typeAlias alias="QCCheckProject" type="com.gangdian.qc.model.QCCheckProject"/> 
	</typeAliases>
	
	
</configuration>
